<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/countdown" method="get">
	  Name:<br>
	  <input type="text" name="name"><br>
	  
	  <input type="submit" value="Submit">
	</form>
  </body>
</html>
